/* General */
body{
  box-sizing: border-box;
  background-color: #EDEDEF;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}

div, p, ul {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4{
  margin: 0;
  padding: 0;
  display: inline-block;
}

.container-fluid{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 1200px;
}
/* Header */
.header-content {
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
  justify-content: flex-start;
}

.header-content-photo {
  max-height: 300px;
}

.header-content-photo img {
  max-width: 100%;
  height: auto;
}
.header-content-photo div{
  position: relative;
  top: -104px;
  height: 100px;
  width: 375px;
  background-color: rgba(88, 93, 95,0.4);
}

.header-content-info {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.row-info{
  height: 200px;
  padding: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.row-info-title{
  font-size: 1.3rem;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
  padding-bottom: 1rem;
}
.row-name{
  min-height: 100px;
  width: 100%;
  background-color:rgba(88, 93, 95, 0.4); 
}

.row-name div{
  padding: 0 1.5rem;
}

.social{
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
}

.social:hover{
  text-decoration: none;
  color: #000000;
}

.social span{
  font-size: 1.4rem;
  position: relative;
  top: 2px;
  padding-left: 10px;
}
.social-list{
  text-align: right;
  padding-bottom: 1rem;
  list-style: none;
}

.social-list li {
  padding-top: 1.2rem;
}

.fa-skype, .fa-facebook-square{
  padding-right: 2px;
}

.text-name{
  font-size: 2.6rem;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
}
.text-title{
  color: #EAEDF0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding-top: 0.5rem;
}
/* Main  */
.main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottom-breaker{
  border-top: 1px solid black;
}

.timeline-container {
  max-width: calc(100% - 100% / 3);
  padding: 1.5rem 0;
}

.timeline-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5rem;
}

.timeline-col {
  padding: 0 1rem;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.timeline-list li div{
  padding-top:30px; 
}
.timeline-header{
  font-size: 1.3em;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px; 
  margin: 0 0 0 100px; 
}
h4{
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}
.timestamp::before{
  content: "\2605";
  color:#585d5f;
  padding-right: 10px;
}
.timestamp{
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  max-width: 270px;
}
.info p{
  margin: 1px 0 1px 5px;
  font-family: 'Ubuntu', sans-serif;
}
.info p::before{
  content: "\2690";
  color: #585d5f;
  padding-right: 5px;
}
.addition-info{
  max-width: calc(100% / 3);
  line-height: 1.5rem;
  padding: 1.5rem 0; 
}
.addition-info-header{
  font-size: 1.3em;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px; 
}
.addition-info p {
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 0.8rem;
}
.addition-info-initial p {
  padding-top: 30px;
}
/* Footer */
footer a{
  display: inline-block;
  font-size: 22px;
  text-decoration: none;
  color: #000000;
  padding-right: 5px;

}
footer a:hover{
  text-decoration: none;
  color: #000000;
}
footer{
  text-align: center;
  border-top: 1px solid #585d5f; 
}

@media (max-width: 825px) {
  /* Header */
  .header-content-photo {
    margin: 0 auto;
  }
  .header-content-photo div{
    display: none;
  }

  /* Main */
  /* .bottom-breaker {
    display: none;
  } */
  .timeline-container {
    max-width: 100%;
    padding: 1.5rem;
  }
  .addition-info {
    max-width: 100%;
    padding: 1.5rem;
  }

}

@media (max-width: 400px) {
  .row-info-title {
    width: 100%;
    text-align: center;
  }

  .social-list {
    width: 100%;
  }
}